<template name="login">
    {{> loginInstructionsModal}}
    <div class="login-page">
        {{#autoForm id="loginForm" type="method" schema="Schemas.loginSchema" meteormethod="checkLogin" resetOnSuccess=false}}
            <section class="wrapper scrollable animated fadeInDown">
                <section class="panel panel-default">
                    <div class="panel-heading">
                        <img src="/logo.png" style="max-width: 60%" alt=""/>

                        <div class="clearfix">
                            <a href="https://vk.com/winlevel_ts" target="_blank">
                                <i class="fa fa-vk"></i>
                                Техническая поддержка</a>
                            <br/>
                            <button type="button" class="btn btn-link" name="loginInstructionsShow">
                                <i class="fa fa-youtube-play"></i>
                                Видеоинструкция
                            </button>
                        </div>
                    </div>

                    <ul class="list-group">

                        <li class="list-group-item">
                            {{>qrScanner}}
                        </li>
                        <li class="list-group-item">
                            <div class="form-group">
                                {{> afQuickField type="email" class="form-control input-lg" name="login" placeholder="schemaLabel"}}
                            </div>
                            <div class="form-group">
                                {{> afQuickField type="password" class="form-control input-lg" name="password" placeholder="schemaLabel"}}
                            </div>
                        </li>
                    </ul>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-lg btn-success">{{_ "buttons.enter"}}</button>
                    </div>
                </section>
            </section>
        {{/autoForm}}
    </div>
</template>

