<template name="recoverpass">
    {{#autoForm id="recoverPassForm" type="method" schema="Schemas.recoverPass" meteormethod="recoverPass" resetOnSuccess=false}}
        {{#unless resetPass}}
            <section class="login-form">
                {{> afQuickField type="email" class="form-control input-lg" name="email" placeholder="schemaLabel"}}
                <div class="form-group">
                    <input type="submit" class="btn btn-lg btn-success btn-block"
                           value="{{_ "buttons.recoverPass"}}"/>
                </div>
            </section>
        {{/unless}}

        {{#if resetPass}}
            <h4><p>{{_ 'messages.emailSend'}}</p></h4>
            <p>{{_ 'messages.youEmail'}} {{currentEmail}} {{_ 'messages.sendEmailWithInstructions'}}</p>

            <p>{{_ 'messages.verifiEmailText'}}</p>
        {{/if}}
    {{/autoForm}}
</template>