<template name="inviteCode">
	{{#Layout template="panel" data=panelData}}
		<div class="qrcode">
			<div class="row store-block">
				<p class="text-center">{{_ 'messages.inviteQrCode'}}</p>
				<div class="col-md-6 text-right">
					{{> storeButton type='appstore'}}
				</div>
				<div class="col-md-6">
					{{> storeButton type='googleplay'}}
				</div>
			</div>
			<div id="invite-qr-row" class="row">
				<div class="col-md-12 text-center">
                    <p><a href="/reg/{{qrCode}}">{{qrCode}}</a></p>
					<div id="invite-qr" class="qr-img"></div>
				</div>
			</div>
		</div>
	{{/Layout}}
</template>