<template name="inviteCode">
    {{#Layout template="panel" data=qrCode}}
        <div class="qrcode">
            <div class="row store-block">
                <p class="text-center">{{_ 'messages.inviteQrCode'}}</p>

                <div class="col-md-6 text-center">
                    {{> storeButton type='appstore'}}
                </div>
                <div class="col-md-6 text-center">
                    {{> storeButton type='googleplay'}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <h3>inviteCode : {{inviteCode}}</h3>
                    {{> qrGenerate code=inviteCode}}
                </div>
            </div>
        </div>
    {{/Layout}}
</template>