<template name="fullLayout">
    {{> lostConnectionNotice}}
    
    {{#if currentUser}}
        <div id="body" class="default-page">
            {{> navMenu}}
            <section class="sidebar extended">
            </section>
            <section class="wrapper retracted scrollable">
                {{> userMenu}}
                <div class="quick-launch-bar">
                    <ul>
                        {{#each navLinks}}
                            <li class="{{decor}}">
                                {{#if href}}
                                    {{#if target}}
                                        <a href="{{href}}"><i class="fa {{icon}}"></i><span>{{name}}</span></a>
                                    {{else}}
                                        <a href="{{href}}" target="{{target}}"><i
                                                class="fa {{icon}}"></i><span>{{name}}</span></a>
                                    {{/if}}
                                {{else}}
                                    {{{html}}}
                                {{/if}}
                            </li>
                        {{/each}}
                    </ul>
                </div>
                {{> yield}}
            </section>
        </div>
    {{else}}
        {{> loading}}
    {{/if}}
</template>