<template name="navMenu">
    <nav class="main-menu {{mainMenuStatus}}">
        <ul>
            {{> navMenuItem name='index'   icon='fa-home'}}
            {{> navMenuItem name='network' icon='fa-sitemap'}}
            {{#if isInRole 'statistic'}}{{> navMenuItem name='highcharts' icon='fa-area-chart'}}{{/if}}
            {{#if showQr}}
                {{> navMenuItem name='qrcode'  icon='fa-qrcode'}}
            {{/if}}
        </ul>
        <ul class="logout">
            {{#if isInRole 'adminPanel'}}{{> navMenuItem name='adminPanel' icon='fa-user-secret'}}{{/if}}
            {{> navMenuItem name='profile' icon='fa-gear'}}
            {{#if isImpersonating}}
                {{> navMenuItem name='exit'    icon='fa-eye text-danger' href="#" id="disconnect"}}
            {{else}}
                {{> navMenuItem name='exit'    icon='fa-power-off fa-power-off' href="#" id="logoutHref"}}
            {{/if}}
        </ul>
    </nav>
</template>
<template name="navMenuItem">
    <li>
        <a href="{{#if isRouterLink}}{{pathFor link}}{{else}}{{link}}{{/if}}" id="{{id_data}}">
            <i class="fa {{icon}} nav-icon"></i>
                <span class="nav-text">
                    {{_ textClass}}
                </span>
        </a>
    </li>
</template>