<template name="navMenu">
    <nav class="main-menu">
        <ul>
            <li>
                <a href="/">
                    <i class="fa fa-home nav-icon"></i>
                        <span class="nav-text">
                            {{i18n "pageTitles./"}}
                        </span>
                </a>
            </li>
        </ul>
        <ul class="logout">
            <li>
                <a href="/profile">
                    <i class="fa fa-gear nav-icon"></i>
                        <span class="nav-text">
                            {{i18n "pageTitles./profile"}}
                        </span>
                </a>
            </li>
            <li>
                <a href="#" id="logoutHref">
                    <i class="fa fa-power-off nav-icon"></i>
                        <span class="nav-text">
                            {{i18n "pageTitles./exit"}}
                        </span>
                </a>
            </li>
        </ul>
    </nav>
</template>