<template name="twoCols">
    <div class="row">
        <div class="col-md-6">
            {{> yield}}
        </div>
        <div class="col-md-6">
            {{> yield "block2"}}
        </div>
        <div class="col-md-6">
            {{> yield "block3"}}
        </div>
        <div class="col-md-6">
            {{> yield "block4"}}
        </div>
        <div class="col-md-6">
            {{> yield "block5"}}
        </div>
        <div class="col-md-6">
            {{> yield "block6"}}
        </div>
        <div class="col-md-6">
            {{> yield "block7"}}
        </div>
        <div class="col-md-6">
            {{> yield "block8"}}
        </div>
    </div>
</template>
