<template name="inviteCode">
    {{#Layout template="panel" data=panelData}}
        <div class="c-qr-code">
            <div class="row clearfix">
                <div class="store-buttons store-block">
                    <p class="text-center">{{_ 'messages.inviteQrCode'}}</p>

                    <div class="pull-left">

                        {{> storeButton type='appstore'}}
                    </div>
                    <div class="pull-right">
                        {{> storeButton type='googleplay'}}
                    </div>
                </div>
            </div>
            <br/>

            <div class="row">
                <div class="text-center">
                    {{> qrGenerate code=inviteCode}}
                </div>
            </div>
        </div>
    {{/Layout}}
</template>