
<template name="footer">
    <div class="footer">
        <div class="row">
            <div class="col-sm-3">
                <div><a>Как стать агентом</a></div>
                <div><a>Предложение для бизнеса</a></div>
            </div>
            <div class="col-sm-6 text-center">
                <a class="center-link">Копирайты</a>
            </div>
            <div class="col-sm-3 text-right">
                <div><a>Обучение</a></div>
                <div><a>Поддержка</a></div>
            </div>
        </div>
    </div>
</template>