<template name="phoneField">
    {{#Layout template="panel" data=phoneField}}
        {{#autoForm id="phoneField" type="method" meteormethod="updateProfile" schema="Schemas.phoneField" }}


            {{#if user.profile.phones.[0].number}}
                <span class="label label-danger">не подтвержден</span>
                <a href="#" id="deleteNumber">Удалить текущий номер?</a>
            {{/if}}

            {{> afQuickField type="tel" class="form-control" name="phone" value=user.profile.phones.[0].number dasabled='dasabled'}}

            <button type="submit" class="btn btn-success">{{_ "buttons.save"}}</button>
        {{/autoForm}}


        {{#autoForm id="verifyPhone" type="method" meteormethod="" schema="Schemas.verifyPhone" }}

            {{#if user.profile.phones.[0].verified}}

                {{> afQuickField type="tel" class="form-control" name="code" }}

                <div class="form-group" data-required="true">
                <span class="help-block">
                    На ваш номер был отправлен код подверждения.
                    Если смс не приходит в течении минуты - проверьте правильность номера или попробуйте
                    <a href="#" id="sendPhoneVerification">выслать код повторно</a>.
                </span>
                </div>

                <button type="submit" class="btn btn-success">{{_ "buttons.save"}}</button>
            {{/if}}
        {{/autoForm}}
    {{/Layout}}
</template>