<template name="welcome">
  <div class="row">
    <div class="col-md-12">
      <!-- for elements using the full available width of the wrapper -->
    </div>
  </div>


  <div class="row">
    <!-- for elements using the standard Proton two-column layout -->
    <!-- 8 + 4 layout for LG screen size -->
    <!-- 6 + 6 layout for MD screen size -->
    <div class="col-md-6 col-lg-8">
      <!-- left column -->
    </div>

    <div class="col-md-6 col-lg-4">
      <!-- right column -->
    </div>
  </div>
</template>
