<template name="reg">
    {{#if showIs 'active'}}
        {{#autoForm id="regForm" type="normal" schema="Schemas.registerPartner" resetOnSuccess=true}}
            <h4 class="text-center"> {{_ "messages.welcome"}}</h4>
            {{> afQuickField type="text" class="form-control input-lg" name="name" placeholder="schemaLabel" value=name}}
            {{> afQuickField type="email" class="form-control input-lg" name="email" placeholder="schemaLabel" value=email}}
            {{> afQuickField type="password" class="form-control input-lg" name="newPass" placeholder="schemaLabel"}}
            {{> reCAPTCHA}}
            <div class="form-group">
                {{> afQuickField type="hidden" name="_id" value=_id}}
                {{> afQuickField type="hidden" name="emailHash" value=emailHash}}
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-lg btn-success" value="{{_ "buttons.enter"}}"/>
            </div>
        {{/autoForm}}
    {{/if}}


    {{#if showIs 'ready'}}
        <div class="alert alert-success" role="alert">{{_ 'messages.loading'}}</div>
        {{> loading}}
    {{/if}}

    {{#if showIs 'used'}}
        <div class="error-page">
            <section class="text-left">
                <div class="panel panel-default panel-block panel-error-block">
                    <div class="panel-heading">
                        <div class="show">
                            <h1>
                                <small>{{{_ 'errors.inviteUsed'}}}</small>
                            </h1>
                            <div class="error-code">
                                500
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    {{/if}}
</template>
