<template name = 'videoManager'>
  {{#Layout template="panel" data=videoManager}}
    <button type="button" class="btn btn-lg btn-success" name = 'addVideo'>
        <i class="fa fa-plus">Добавить видео</i>
    </button>
    <table class="table table-striped">
        <thead class="">
            <tr>
                <th>{{_ "commonText.name"}}</th>
                <th>{{_ "commonText.info"}}</th>
                <th>{{_ "commonText.link"}}</th>
                <th>{{_ "commonText.actions"}}</th>
            </tr>
        </thead>
        <tbody>
            {{#each videos}}
                {{> videoItem}}
            {{/each}}
        </tbody>
    </table>
  {{/Layout}}
</template>
