<template name="youtubeModalItem">
    <div class="modal fade c-login-instructions-modal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{_ 'pageTitles.videoManager'}}</h4>
                </div>
                <div class="">
                    <div class="c-related-block">
                        <div class="p-prop m-75"></div>
                        <div class="p-fill">
                            <iframe width="100%" height="360px" src="//www.youtube.com/embed/{{videoId}}"
                                    frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>
