<template name="networkInvite">
    {{#Layout template="panel" data=networkInvite}}
        {{#autoForm id="inviteForm" type="method" schema="Schemas.inviteSchema" meteormethod="insertInvite" resetOnSuccess=true}}
            <div class="form-group">
                {{> afQuickField type="text" class="form-control input-lg" name="name"}}
            </div>
            <div class="form-group">
                {{> afQuickField type="email" class="form-control input-lg" name="email"}}
            </div>
            <div class="form-group">
                {{> reCAPTCHA}}
            </div>
            <button type="submit" class="btn btn-lg btn-success">{{_ "buttons.send"}}</button>
        {{/autoForm}}
    {{/Layout}}
</template>