<template name="auth">

    <h4 class="text-center">
        {{_ 'messages.welcome'}}
        {{#if isCordova}}
            <br/>
            <small>{{_ 'messages.selectAuthenticationMethod'}}</small>
        {{/if}}
    </h4>

    {{#autoForm id="loginForm" type="method" schema="Schemas.loginSchema" meteormethod="checkLogin" resetOnSuccess=false}}
        <section class="login-form">
            {{#if isCordova}}
                <div class="form-group">
                    {{>qrScanner}}
                </div>
                <p class="text-center">{{_ 'messages.loginUsingQrLogin'}}</p>
            {{/if}}

            {{> afQuickField type="email" class="form-control input-lg" name="login" placeholder="schemaLabel"}}
            {{> afQuickField type="password" class="form-control input-lg" name="password" placeholder="schemaLabel"}}
            <div class="form-group">
                <input type="submit" class="btn btn-lg btn-success btn-block"
                       value="{{_ "buttons.enter"}}"/>
            </div>
            <div class="form-group">
                <a href="/recoverpass" class="text-center">
                    <i class="fa fa-lock"></i>
                    {{_ 'messages.recoverPass'}}
                </a>
            </div>
        </section>
    {{/autoForm}}
</template>

