<template name="resetpass">
    {{#autoForm id="resetPassForm" type="normal" schema="Schemas.resetPass" resetOnSuccess=false}}
        <section class="login-form">
            <div class="form-group">
                <p>
                    {{_ 'messages.enterNewPassForUser'}} {{username}}
                </p>
            </div>

            {{> afQuickField type="password" class="form-control input-lg" name="newPass" placeholder="schemaLabel"}}
            {{> afQuickField type="password" class="form-control input-lg" name="repeatPass" placeholder="schemaLabel"}}
            <div class="form-group">
                <input type="submit" class="btn btn-lg btn-success btn-block"
                       value="{{_ "buttons.save"}}"/>
            </div>
        </section>
    {{/autoForm}}
</template>