
<template name="header">
    <div class="header">
        <div class="row">
            <div class="col-sm-3">
                <a>Казань</a>
            </div>
            <div class="col-sm-6 text-center">
                <a class="nav-link">Новости</a>
                <a class="nav-link">Каталог</a>
                <a class="nav-link">Модули</a>
            </div>
            <div class="col-sm-3 text-right">
                <a class="login-link">Login <i class="fa fa-question-circle"></i></a>
            </div>
        </div>
    </div>
</template>