<template name="changePass">
    {{#Layout template="panel" data=changePass}}
        {{#autoForm id="passForm" type="normal" schema="Schemas.passSchema" resetOnSuccess=true}}
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="form-group">
                        {{> afQuickField type="password" class="form-control input-lg" name="oldPass"}}
                    </div>
                    <div class="form-group">
                        {{> afQuickField type="password" class="form-control input-lg" name="newPass" placeholder=""}}
                    </div>
                    <div class="form-group">
                        {{> afQuickField type="password" class="form-control input-lg" name="confirmPass"}}
                    </div>
                </li>
            </ul>
            <div class="panel-footer">
                <button type="submit" class="btn btn-lg btn-success">{{_ "buttons.update"}}</button>
            </div>
        {{/autoForm}}
    {{/Layout}}
</template>
