<template name="personalInf">
    {{#Layout template="panel" data=personalInf}}
        {{#autoForm id="profileForm" type="method" schema="Schemas.profileSchema" meteormethod="updateProfile" resetOnSuccess=false}}
            <div class="form-group">
                {{> afQuickField type="text" class="form-control input-lg" name="name" value=user.profile.name}}
            </div>
            <div class="form-group">
                {{> afQuickField type="text" class="form-control input-lg" name="phone" value=user.profile.phones.[0].number}}
            </div>
            <div class="form-group">
                {{> afQuickField type="email" class="form-control input-lg" name="email" value=user.emails.[0].address}}
            </div>
            <div class="form-group">
                {{> afQuickField type="text" class="form-control input-lg" name="vk" value=user.profile.vk}}
            </div>
            <div class="form-group">
                {{> afQuickField type="text" class="form-control input-lg" name="skype" value=user.profile.skype}}
            </div>
            <div class="form-group">
                {{> afQuickField type="text" class="form-control input-lg" name="passport" value=user.profile.passport}}
            </div>

            <button type="submit" class="btn btn-lg btn-success">{{_ "buttons.update"}}</button>
        {{/autoForm}}
    {{/Layout}}
</template>
