<template name="personalQrCode">
    {{#Layout template="panel" data=qrCode}}
        <div class="qrcode">
            <div class="row">
                <p class="text-center">{{_ 'messages.scanQr'}}</p>
            </div>
            <div class="row clearfix">
                <div class="store-buttons store-block col-md-12">
                    <p class="text-center">{{_ 'messages.inviteQrCode'}}</p>

                    <div class="pull-left">
                        {{> storeButton type='appstore'}}
                    </div>
                    <div class="pull-right">
                        {{> storeButton type='googleplay'}}
                    </div>
                </div>
            </div>
            <br/>

            {{#unless isCordova}}
                <div class="row">
                    <div class="col-md-12 text-center">
                        {{#if authCode}}
                            {{> qrGenerate code=authCode}}
                        {{else}}
                            <a class="show-qr btn btn-lg btn-primary">{{_ 'buttons.showQr'}}</a>
                        {{/if}}
                    </div>
                </div>
            {{/unless}}
        </div>
    {{/Layout}}
</template>