<template name="verifyEmail">
    {{#unless emailVerified}}
        <div class="alert alert-danger" role="alert">
            <p>
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <strong>Ваш Email не подввержден.</strong>
            </p>

            <p>Для того чтобы использовать сервис, нобходимо подтвердить email.</p>

            <p>На вашу почту было отправлено письмо с инструкцией.</p>

            <p>Если письмо не пришло в течение пары минут, проверьте ваш спам фильтр, или попробуйте выслать письмо еще
                раз.
            </p>
            {{#unless emailSended}}
                <button type="button" class="btn btn-link" name="resendEmailVerified">Выслать письмо повторно!</button>
            {{else}}
                <p>
                    Если письмо всё равно не приходит, напишите нам на почту <a href="mailto:{{_ 'email.support'}}">{{_ 'email.support'}}</a>
                </p>
            {{/unless}}
        </div>
    {{/unless}}
</template>