
<template name="main">
    <div class="main-page">
        {{> header}}
        <div class="content">
            <div class="row search-block">
                <div class="col-sm-2 text-center">
                    <a class="wl-tour">
                        <span class="small-text">Быстрый тур по</span>
                        <span>WL Market</span>
                    </a>
                </div>
                <div class="col-sm-8">
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Найти</button>
                        </span>
                    </div>
                    <span class="example">Найдите например: <a>ПРОГУЛКИ ВЕРХОМ НА КОНЕ</a> или <a>САНТЕХНИК СРОЧНО</a></span>
                </div>
            </div>
            <div class="row categories-block">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="row">
                        <div class="col-sm-6">

                            <div class="row">
                                <div class="col-sm-6">

                                </div>
                                <div class="col-sm-6">

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-6">

                                </div>
                                <div class="col-sm-6">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 text-center">

                </div>
            </div>
        </div>
        {{> footer}}
    </div>
</template>